name: conda-package

on:
  push:
    branches: [ master ]
    tags: ["*"]
  pull_request:
    branches: [ master ]

jobs:
  package:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - name: Linux
          os: ubuntu-latest
        - name: MacOSX
          os: macos-15-intel
        - name: Windows
          os: windows-latest
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install conda (cached)
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-variant: Miniforge3
        miniforge-version: latest
        python-version: 3.11
        activate-environment: hexrd
        auto-activate-base: false
        use-mamba: true
        cache-environment: true
        cache-downloads: true

    - name: Install build requirements
      run: |
          # Change default solver to be libmamba, so that it runs much faster
          conda install -n base --override-channels -c conda-forge conda-libmamba-solver
          conda config --set solver libmamba

          conda activate hexrd
          conda install --override-channels -c conda-forge anaconda-client conda-build conda

      # This is need to ensure ~/.profile or ~/.bashrc are used so the activate
      # command works.
      shell: bash -l {0}

    - name: Build the package (host)
      env:
        CONDA_OVERRIDE_OSX: '11.0'
        MACOSX_DEPLOYMENT_TARGET: '11.0'
      run: |
          conda activate hexrd
          # For some reason, we need to set this in the environment as well.
          # It seems conda build sometimes needs the solver in the environment
          # and sometimes in the base environment. I don't know why.
          conda install --override-channels -c conda-forge conda-libmamba-solver
          conda config --env --set solver libmamba
          conda config --set conda_build.pkg_format 1 # force tar.bz2 files

          mkdir output
          # Conda build is ignoring the .condarc for some reason, so we need to
          # set this environment variable instead.
          # Setting this variable via `env` did not seem to work for some reason.
          export CONDA_SOLVER=libmamba
          conda build --override-channels -c conda-forge --output-folder output/ conda.recipe/ --python=${{ matrix.python-version }}
      # This is need to ensure ~/.profile or ~/.bashrc are used so the activate
      # command works.
      shell: bash -l {0}

    - name: Upload the package to anaconda channel (tag push to master)
      if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
      run: |
          conda activate hexrd
          anaconda --token ${{ secrets.ANACONDA_TOKEN }} upload --force --user HEXRD output/**/*.tar.bz2
      # This is need to ensure ~/.profile or ~/.bashrc are used so the activate
      # command works.
      shell: bash -l {0}

    - name: Upload the package to anaconda prerelease channel (upload push to master)
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: |
          conda activate hexrd
          anaconda --token ${{ secrets.ANACONDA_TOKEN }} upload --force --user HEXRD --label prerelease output/**/*.tar.bz2
      # This is need to ensure ~/.profile or ~/.bashrc are used so the activate
      # command works.
      shell: bash -l {0}

    - name: Get version for the artifact names
      run: echo "HEXRD_GIT_DESCRIBE=$(git describe --tag)" >> $GITHUB_ENV

    - name: Upload the package to github
      uses: actions/upload-artifact@v4
      with:
        name: HEXRD-${{ matrix.config.name }}-${{ env.HEXRD_GIT_DESCRIBE }}.tar.bz2
        path: output/**/*.tar.bz2
